/*--------------------------- RESET ----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*--------------------------- . -------------------------------*/

#indexBody{              /*body con background negro para el index*/
    background-color: black;
}

header{
    display: flex;
    flex-direction: row;
    background-color:rgba(245, 165, 209, 0.945);
    justify-content: space-around;
    align-items: center;
}

.logo{              /*logo header*/
    display: flex;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-image: url("../assets/sjlogo.jpg");
    background-position: center;
    background-size: contain;
}

.nav-custom{   /*agrego propiedades al nav de Bootstrap*/
    width: 75%;
    font-family: 'Koulen', cursive;
    font-size: 150%;
    
}

.tituloIndex{               /*Sketchy Jen de index*/

    font-family: 'Aclonica', sans-serif;
    color: black;
    font-size: 200%;
    -webkit-text-stroke: 0.5px rgba(245, 165, 209);
    margin-top: 10rem;
}

.hero{              /*estructura general de la Hero Section*/
    height: 800px;
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 40px 40px;
    font-family: 'Koulen', cursive;
    font-weight: 400;
    color: white;
    -webkit-text-stroke: 1.5px black;
    text-decoration: none;
}

#indexHero{
    background-image: url("../assets/background.jpg");
    justify-content: center;
}

#skateHero{
    background-image: url(../assets/skates/skatehero.jpg);
    background-position: right;
}

#longHero{
    background-image: url("../assets/longg.jpeg");
    justify-content: center;
}

#rollersHero{
    background-image: url("../assets/rollers/rollershero.jpg");
    justify-content: end;
    align-items: flex-end;
}

#surfHero{
    background-image: url("../assets/surff.jpg");
    justify-content: end;
    align-items: flex-end;
}

.indexNav{          /*navegador grande del index*/
    height: 700px;
    background-color: black;
    background-image: url("../assets/backgroundProducts.jpg");
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "skate" "longboard" "rollers" "surf" "nosotros";
    gap: 20px;
    padding: 20px 10px;
    width: 100%;
    max-width: 1800px;
    justify-self: center;
}

.categoriasIndex{       /*cajas de acceso de index*/
    margin: 5px 0.5rem;
    max-width: 35rem;
    border-radius: 25px;
    font-family: 'Koulen', cursive;
    font-weight: 400;
    font-size: 175%;
    -webkit-text-stroke: 0.5px black;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#skate{             /*caja skate index*/
    background-image: url("../assets/mobile/skateIndex.jpg");
    color: white;
    -webkit-text-stroke: 1px black;
}

#longboard{         /*caja longboard index*/
    background-image: url("../assets/mobile/longboardIndex.jpg");
    color: rgba(255, 105, 210);
}

#rollers{     /*caja rollers index*/
    background-image: url("../assets/mobile/rollerIndex.jpg");
    color: white;
}

#surf{        /*caja surf index*/
    background-image: url("../assets/surfIndex.jpg");
    color: rgba(255, 105, 210);
}

#nosotros{      /*caja nosotros index*/
    background-image: url("../assets/nosotrosIndex.jpg");
    color: black;
    -webkit-text-stroke: 0.5px rgb(255, 172, 244);
}

.nombreItem{    /*ancor en forma de texto*/
    font-family: 'Koulen', cursive;
    font-weight: 400;
    font-size: 250%;
    color: white;
    -webkit-text-stroke: 1.5px violet;
    text-decoration: none;
    align-self: center;
    justify-self: center;
}

footer{
    display: flex;
    background-color: rgba(245, 165, 209, 0.945) ;
    padding: 15px;
    justify-content: center;
    align-items: center;
}


/*--------------------------- DISPLAY PRODUCTOS -------------------------------*/
.titulo{               /*Titulos de hero sections de procutos*/

    font-family: 'Aclonica', sans-serif;
    color: white;
    font-size: 225%;
    -webkit-text-stroke: 0.5px rgba(245, 165, 209);
    margin-top: 10rem;
    transform: translate(0px,-100px);
}

.containerProductos{      /*grilla productos exhibidos*/
    margin: 20px;
    display: grid;
    gap: 50px;
    grid-template-rows: repeat(4, 1fr);
    overflow: auto;
}

.cajaItem{          /*caja de UN producto*/
    justify-self: center;
}


/*--------------------------------- RESPONSIVE -------------------------------*/

@media screen and (min-width: 426px) {
    
    .containerProductos{      /*grilla productos exhibidos*/
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 780px) {

    .nombreItem{        /*borro el nombre de las categorias en el indexNav*/
        display: none;
    }

    
}


@media screen and (min-width: 780px){

    .tituloIndex{               /*Sketchy Jen de index*/
        font-size: 350%;
    }

    .hero{                  /*Agrando Hero*/
        height: 1700px;
    }

    .titulo{                    /*Agrando titulos de hero sections*/
        font-size: 375%;
        margin-top: 10rem;
    }

    .indexNav{      
        grid-template-columns:repeat(2,1fr);       /*modifico estructura del nav grande del index*/
        padding: 50px;
        height: 1700px;
        width: 100%;
    }

    .categoriasIndex{       /*cajas de acceso de index*/
        font-size: 0;
        background-position: center;
        background-size: cover;
        transition: 0.3s;
    }

    .categoriasIndex:hover{
        transform: scale(110%);
    }

    /*----------------SKATE DESKTOP----------*/

    .containerProductos{
        margin: 50px;                           /*modifico estructura de la grilla de productos exhibidos*/
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3,1fr);
    }

    #skateHero{
        justify-content: flex-start;
    }

    .cajaItem{          /*caja de UN producto*/
        transition: 0.3s;
    }

    .cajaItem:hover{
        transform: scale(105%);
    }
}


