* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/*--------------------------------- RESPONSIVE -------------------------------*/
.nav-custom { /*modifico nav de bootstrap*/
  width: 75%;
  font-family: "Koulen", cursive;
  font-size: 150%;
}
.nav-custom__logo {
  display: flex;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url("../assets/sjlogo.jpg");
  background-position: center;
  background-size: contain;
}

.carta-custom { /*modifico carta de bootstrap*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
@media screen and (min-width: 780px) {
  .carta-custom {
    font-size: 150%;
  }
}

header {
  display: flex;
  flex-direction: row;
  background-color: rgba(245, 165, 209, 0.945);
  justify-content: space-around;
  align-items: center;
}

.hero, .nosotrosHero, .surfHero, .rollersHero, .longHero, .skateHero, .indexHero {
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 40px 40px;
  font-family: "Koulen", cursive;
  font-weight: 400;
  color: white;
  -webkit-text-stroke: 1.5px black;
  text-decoration: none;
}
.hero__titulo { /*Sketchy Jen de index*/
  font-family: "Aclonica", sans-serif;
  color: black;
  font-size: 200%;
  -webkit-text-stroke: 0.5px rgb(255, 105, 210);
  margin-top: 10rem;
}
@media screen and (min-width: 780px) {
  .hero__titulo {
    font-size: 350%;
  }
}

.indexHero {
  /*mix para definir background y distribucion del contenido de los heros*/
  background-image: url("../assets/index/background.webp");
  justify-content: center;
}

#indexBody { /*body con background negro para el index*/
  background-color: black;
}

.skateHero {
  /*mix para definir background y distribucion del contenido de los heros*/
  background-image: url("../assets/skates/skatehero.webp");
  justify-content: left;
  background-position: right;
}
@media screen and (min-width: 780px) {
  .skateHero {
    justify-content: flex-start;
  }
}

.longHero {
  /*mix para definir background y distribucion del contenido de los heros*/
  background-image: url("../assets/longs/longhero.webp");
  justify-content: center;
}

.rollersHero {
  /*mix para definir background y distribucion del contenido de los heros*/
  background-image: url("../assets/rollers/rollershero.webp");
  justify-content: end;
  align-items: flex-end;
}

.surfHero {
  /*mix para definir background y distribucion del contenido de los heros*/
  background-image: url("../assets/surf/surfhero.webp");
  justify-content: end;
  align-items: flex-end;
}

.nosotrosHero {
  /*mix para definir background y distribucion del contenido de los heros*/
  background-image: url("../assets/fondonosotros.webp");
  justify-content: center;
  justify-content: center;
}

.container-custom {
  align-items: center;
  justify-content: center;
}

.indexNav { /*navegador grande del index*/
  height: 700px;
  background-color: black;
  background-image: url("../assets/index/backgroundNavIndex.webp");
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "skate" "longboard" "rollers" "surf" "nosotros";
  gap: 20px;
  padding: 20px 10px;
  width: 100%;
  justify-self: center;
}
.indexNav__categorias { /*cajas de acceso de index*/
  margin: 0 auto;
  width: 100%;
  max-width: 35rem;
  border-radius: 15px;
  font-family: "Koulen", cursive;
  font-weight: 400;
  font-size: 175%;
  -webkit-text-stroke: 0.5px black;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.indexNav__item { /*ancor en forma de texto*/
  font-family: "Koulen", cursive;
  font-weight: 400;
  font-size: 250%;
  color: white;
  -webkit-text-stroke: 1.5px violet;
  text-decoration: none;
  align-self: center;
  justify-self: center;
  display: none;
}
@media screen and (min-width: 780px) {
  .indexNav {
    grid-template-columns: repeat(2, 1fr); /*modifico estructura del nav grande del index*/
    padding: 50px;
    height: 1700px;
    width: 100%;
  }
  .indexNav__categorias { /*cajas de acceso de index*/
    font-size: 0;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
  }
  .indexNav__categorias:hover {
    transform: scale(110%);
  }
  .indexNav__item {
    display: flex;
  }
}

#skate { /*caja skate index*/
  background-image: url("../assets/index/skateIndex.webp");
  color: white;
  -webkit-text-stroke: 1px black;
}

#longboard { /*caja longboard index*/
  background-image: url("../assets/index/longboardIndex.webp");
  color: rgb(255, 105, 210);
}

#rollers { /*caja rollers index*/
  background-image: url("../assets/index/rollerIndex.webp");
  color: white;
}

#surf { /*caja surf index*/
  background-image: url("../assets/index/surfIndex.webp");
  color: rgb(255, 105, 210);
}

#nosotros { /*caja nosotros index*/
  background-image: url("../assets/index/nosotrosIndex.webp");
  color: black;
  -webkit-text-stroke: 0.5px rgb(255, 105, 210);
}

/*--------------------------- DISPLAY PRODUCTOS -------------------------------*/
.containerProductos { /*grilla productos exhibidos*/
  margin: 20px;
  display: grid;
  gap: 50px;
  grid-template-rows: repeat(4, 1fr);
  overflow: auto;
}
.containerProductos__item { /*caja de UN producto*/
  justify-self: center;
}
@media screen and (min-width: 426px) {
  .containerProductos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 780px) {
  .containerProductos {
    margin: 50px; /*modifico estructura de la grilla de productos exhibidos*/
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .containerProductos__item { /*caja de UN producto*/
    transition: 0.3s;
  }
  .containerProductos__item:hover {
    transform: scale(105%);
  }
}

footer {
  display: flex;
  background-color: rgba(245, 165, 209, 0.945);
  padding: 15px;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */